*{
  margin: 0;
  padding-right: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  background-color: black;
  background-size: cover;
}

.logo h2{
  font-style: italic;
  font-size: 35px;
}

.logo h2 span{
  color: orangered;
}

.logo h2 small{
  font-size: 25px;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
}

h1{
  color: #fffffc;
  margin: 16px 0;
  font-weight: 800;
}

h3{
  margin: 8px 0;
  font-family: 800;
}

p{
  margin: 16px 0;
  line-height: 1.75;
  font-weight: 400;
}

img{
  max-width: 100%;
  height: auto;
  margin-top:15px ;
}

header{
  line-height: 100px;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

nav ul li{
  display: inline;
  padding: 0 16px;
}

nav ul li a{
  color: black;
  font-weight: 550;
}

nav ul li a:hover{
  font-size: 17px;
}

.mobile{
  display: none;
  color: black;
}

.show{
  display: block;
}

@media(max-width:768px){
  nav{
    position: static;
  }
  nav ul{
    display: none;
    width: 100%;
    background-color: grey;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    height: 40vh;
    text-align: center;
  }

  nav ul li {
    display: block;
  }
  nav ul li a{
    color: white;
  }
  a.mobile{
    color: #202020;
    display: block;
    font-size: 32px;
  }
}

aside{
  padding: 64px;
}

aside .comments .archives{
  margin-top: 64px;
}

.blog-post h1{
color: #202020;
}

.blog-post a{
  color: dodgerblue;
}

.blog-post{
  padding: 32px;
}




/* make for grid */



.container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 100px auto 100px;
  height: 100vh;
  width: 70%;
  margin: 0 auto;
}

header{
  background-color: teal;
  grid-column-start:span 3 ;

}

aside{
  background-color: #313338;
  grid-column-start: span 1;
}

main{
  background-color: #fffffc;
  grid-column-start: span 2;
}

footer{
  background-color: #f9f9f9;
  grid-column-start: span 3;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

 @media(max-width:768px){
 .container{
  grid-template-columns: 1fr;
  grid-template-rows:100px auto auto 100px ;
  width: 100%;
 }

 header,aside,main,footer{
  grid-column-start: span 1;
 }
} 
